version: "3.7"

services:
  webserver:
    build: 
      context: ./bin/webserver
    container_name: '7.3.x-webserver'
    restart: 'always'
    ports:
      - "80:80"
      - "443:443"
    links: 
      - mysql
      - maildev
    networks:
      - lamp-net
    volumes: 
      - ${DOCUMENT_ROOT-./www}:/var/www/html
      - ${PHP_INI-./config/php/php.ini}:/usr/local/etc/php/php.ini
      - ${VHOSTS_DIR-./config/vhosts}:/etc/apache2/sites-enabled
      - ${APACHE_LOG_DIR-./logs/apache2}:/var/log/apache2
  mysql:
    build: ./bin/mysql
    container_name: '8.0.x-mysql'
    command: --lower_case_table_names=1 --default-authentication-plugin=mysql_native_password
    restart: 'always'
    ports:
      - "3306:3306"
    networks:
      - lamp-net
    volumes: 
      - ${MYSQL_DATA_DIR-./data/mysql}:/var/lib/mysql
      - ${MYSQL_LOG_DIR-./logs/mysql}:/var/log/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
  maildev:
      image: djfarrelly/maildev
      container_name: 'mail-server'
      restart: 'always'
      ports:
        - "1080:80"
        - "1025:25"
      networks:
        - lamp-net
networks:
  lamp-net:
    name: lamp-global-net